<header style="background-color: #3c8dbc; " class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>TCM</b></span>
      <!-- logo for regular state and mobile devices -->
      <span style="color: black;" class="logo-lg"><b style="color: black;">The Chaser</b>Mart</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <app-nav></app-nav>
  </header>
  <app-shopping-cart></app-shopping-cart>