<!--<div *ngIf="this.carts.length != null">
 <ol *ngFor="let cart of carts; let i = index">
  <li>Title: {{cart.title}} </li>
  <li>Brand: {{cart.brand}} </li>
  <li>Manufacturer: {{cart.manufacturer}} </li>
  <li>price: {{cart.price}} </li>
  <button (click)="dlt(i)">Delete</button>
</ol>-->
<!--<div class="content-wrapper container-fluid">-->
<div (mouseenter)="cartEnable()" (mouseleave)="cartdisable()" id="shoopingCart" *ngIf="this.scs.carts.length != null && this.scs.cartBoo()">
    <div *ngFor="let cart of scs.carts; let i = index" class="col-md-4 col-sm-6 well">
        <span class="badge">{{cart.id}}</span>
        <!--<span><img src={{cart.img}} alt=""></span>-->
         <strong>{{cart.title}}</strong>
          <p>{{cart.brand}}</p><p>{{cart.manufacturer}}</p>
            <h1 class="badge">${{cart.price}}</h1>
            <button (click)="dlt(i)" class="btn btn-md btn-primary">Delete</button>
    </div>

    <!--<div class="col-md-4 thumbnail image">
        <img width="250" height="250" src={{selectedProduct.src}} />
    </div>-->

</div>
<!--</div>-->