/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
:root {
        --styleColor : #0096aa;
        --bodyColor : #323A45;
        color: white;
        }
* {
        /*color: white;*/
}

